.container {
  padding: 6rem 0rem 10rem 0rem;
  margin: 0rem auto;
  max-width: var(--maxWidth);

  display: flex;
  flex-direction: column;
  height: 100vh;

  @keyframes slideInX {
    from {
      transform: translate(1rem);
      opacity: 10%;
    }

    to {
      transform: translate(0px);
      opacity: 100%;
    }
  }

  h1 {
    font-size: var(--fzheading);
    color: var(--fg-default);
    margin: 0.5rem 0 0 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    // background-image: var(--secondary-glow);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -moz-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -moz-text-fill-color: transparent;
    animation-duration: var(--animationTime);
    animation-name: slideInX;
  }

  h3 {
    font-size: 3rem;
    color: var(--fg-accent2);
    margin: 0 0 1rem 0;
    animation-duration: var(--animationTime);
    animation-name: slideInX;

  }

  span {
    padding-top: 5vh;
    padding-bottom: 2vh;
    color: var(--fg-default);
    animation-duration: var(--animationTime);
    animation-name: slideInX;
  }

  @media (max-width: 850px) {

    padding: 5rem 0rem 8rem 1rem;

    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2.5rem;
    }

  }

  @media (max-width: 450px) {

    padding: 5rem 0rem 8rem 0rem;

  }
}

.arrow {
  // text-align: center;
  // justify-content: center;
  // width: 100%;

  margin: auto;
  // position: absolute;
  top: 90%;
  // animation: pulse 1s infinite;
  animation: var(--animationTime) infinite alternate bounce;
  // svg {
  //   animation-name: ;
  //   animation-duration: 1s;
  //   animation-iteration-count: infinite;
  // }

  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

@keyframes bounce {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateX(0);
  }
}
