.mainProject {
  position: relative;
  margin: 4rem 0 0 0;

  h3 {
    position: absolute;
    right: 0;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--lightTel);
    width: 14rem;
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;

  }

  a:hover {
    color: var(--lightTel);
    transition: all 500ms ease;
  }

  .imgContainer {
    img {
      width: 60%;
    }
  }

  .textContainer {
    position: absolute;
    top: 3rem;
    left: 55%;
    width: 45%;
    text-align: right;

    p {
      min-height: 8rem;
      background-color: var(--darkGray);
    }

    ;
    color: var(--lightGray);
    padding: 0.2rem 1rem 0rem 0.1rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;

    li {
      font-size: 0.8rem;
      margin: 0 0.2rem;
    }

    li::before {
      content: '> ';
      color: var(--lightTel);
    }
  }

  a {
    color: var(--lightGray);
    font-weight: lighter;
    margin: 0 0.4rem;

    :hover {
      color: var(--lightTel);
      transition: all 500ms ease;
    }
  }


  @media(max-width: 850px) {

    margin: 0.5rem;
    position: static;

    h3 {
      position: static;
    }

    .imgContainer {
      img {
        width: 100%;
      }
    }

    .textContainer {
      position: static;
      width: 100%;

      p {
        padding: 0.5rem 0.5rem;
      }

      /* height: auto; */
      text-align: left;
    }

  }

}
