:root {

  /* Cleaned */

  --dark1: #24292f;
  /* --dark1: #24292f; */

  /* background */
  --bg-default: #24292f;
  --bg-muted: #57606a;
  --bg-subtle: #6e7781;
  --bg-onEmphasis: #1c2128;

  /* foreground */
  --fg-accent1: #17CFC5;
  --fg-accent2: #CF4740;
  --fg-accent3: #41CF17;
  --fg-default: #fafafa;
  --fg-subtle: #6e7781;


  /* TODO */
  --tabHeigth: 2.5rem;
  --tabHighlightWidth: 0.15rem;
  --tabWidth: 150px;

  --max-width: 1100px;
  --border-radius: 12px;

  --maxWidth: 70rem;
  --animationTime: 1.5s;

  --fzxxs: 12px;
  --fzxs: 15px;
  --fzsm: 18px;
  --fzmd: 22px;
  --fzlg: 28px;
  --fzxl: 30px;
  --fzxxl: 32px;
  --fzheading: 12vh;



  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(var(--foreground-accent1),
      var(--foreground-accent2));
  color: var(--fg-default)
}


html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* TODO  optimize fonts*/
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-default);
}

a {
  color: inherit;
  text-decoration: none;
}


section {
  width: 80vw;
  margin: 1rem 10vw 0rem 10vw;
}

.mainButton {

  background-color: var(--bg-onEmphasis);
  color: var(--fg-accent1);
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  border: 0.08rem solid var(--fg-accent1);
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (max-width: 850px) {

  section {
    width: 90vw;
    margin: 1rem 5vw 0rem 5vw;
  }

  p {
    /* TODO */
    font-size: 0.9rem;

  }

  li {
    font-size: 0.9rem;
  }

}
