.blogPageContainer {
  margin: auto;
  max-width: var(--max-width);
  width: 80vh;

  h1 {
    font-size: var(--fzheading);
  }

  p {
    font-size: var(--fzmd);
    line-height: 140%;
  }

  h2 {
    font-size: var(--fzlg);
  }

  h3 {
    font-size: var(--fzmd);
  }

  blockquote {
    font-style: italic;
    border-left: 0.3rem solid var(--fg-subtle);
    margin: 0.5rem 2rem 0.5rem 2rem;

    padding: 0.5rem;

  }
}

.date {
  color: var(--fg-subtle);
  font-size: var(--fzxs);
  border-bottom: var(--fg-subtle) 0.1rem;
}
